.headline {
	width: 100%;
	height: 80px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	border-bottom-color: #35B9FF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.namelogocircle {
	height: 80px;
	width: 80px;
	background-color: #E6F6FF;
	border-color: #35B9FF;
}

.inputline {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lineconteiner {
	display: flex;
	justify-content: center;
	border-radius: 12px;
	padding: 10px 0;
	text-align: center;
	margin-left: 12px;
	margin-right: 12px;
}

.shadowlineconteiner {
	display: flex;
	justify-content: center;
	border-radius: 12px;
	padding: 10px 0;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	margin-left: 12px;
	margin-right: 12px;
}

.columnconteiner {
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	justify-content: center;
	width: 25%;
}

.columnconteiner2string {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	justify-content: center;
}

.registrationDiv {
	height: 350px;
	width: 250px;
	background: white;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 120;
	margin-bottom: 60;
	text-align: center;
	display: flex;
	flex-direction: column;
}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	background: white;
	min-height: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}

.backimg {
	background: linear-gradient(#058acc, #32baff) fixed;
	min-height: 100%;
}

.bluetxtcolor {
	color: #4ea4d1;
}
.redmessage{color:red;}

input {
	border: none;
	border-radius: 9px;
	width: 200px;
	height: 40px;
	color: #809EAE;
	padding-left: 10px;
	background-color: white;
	border-color: #35B9FF;
	border-width: 1px;
	border-style: solid;
	margin: 5px;
}

input[type=submit] {
	border: none;
	border-radius: 9px;
	width: 200px;
	height: 30px;
}

button {
	height: 45px;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	border-radius: 9px;
	margin-right: 10px;
	color: #4ea4d1;
	background-color: white;
	font-size: 16px;
	font-weight: 400;
}

.bluebutton {
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	font-weight: 400;
	font-size: 20px;
	background-color: #058acc;
}

.search_big_conteiner {
	display: flex;
	flex-direction: column;
	margin: 20px;
	background-color: white;
	width: 97%;
	height: 100%;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px 5px 0 0;
	padding: 10px 0;
	text-align: center;
}